doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title iOS vs Android

    link(rel='stylesheet', type='text/css', href='images/style.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    script(language='JavaScript')

body
    |<style type='text/css'>
    include styles/style.css
    |</style>
    article
     section
        h2 V-Collaboration
        br
        ul
         li
         li Teuku Martunisyah
         li Muhammad Al-Pandi
         li Rian Syahputra
         li Hida Triliani
         li Zulfachri Harahap

     section
        h2 iOS vs Android
        <img src='images/gbr1.jpg' height=300>

     section
        h2 <b> Kelebihan dan Kekururangan iOS & Android </b>
        ul.lic
         li
         li 1. Game
         li 2. Keamanan

      section
        h2 Game
        ul.lic
         li
         li 1. Kualitas dan Kuantitas Game
         li 2. Raw Power
         li 3. Kompabilitas

      section
        ul
         li Banyak orang yang meributkan antara iPhone (iOS) dengan Android, mana yang lebih bagus? Mana yang lebih powerful?
         li keduanya adalah software dan hardware mobile phone yang terbaik di dunia. Tapi jika kamu harus memutuskan satu saja dan kamu ingin gadget terbaik untuk gaming mana yang harus kamu pilih?
     script(src='build/build.js')
