doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title iOS vs Android

    link(rel='stylesheet', type='text/css', href='images/style.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    script(language='JavaScript')

body
    |<style type='text/css'>
    include styles/style.css
    |</style>
    article
     section
        h2 V-Collaboration
        br
        ul
         li
         li Teuku Martunisyah
         li Muhammad Al-Pandi
         li Rian Syahputra
         li Hida Triliani
         li Zulfachri Harahap

     section
        h2 iOS vs Android
        <img src='images/gbr1.jpg' height=300>

     section
        h2 <b> Kelebihan dan Kekururangan iOS & Android </b>
        ul.lic
         li
         li 1. Game
         li 2. Keamanan

      section
        h2 1. Game
        ul.lic
         li
         li a. Kualitas dan Kuantitas Game
         li b. Raw Power
         li c. Kompabilitas

      section
        h3 <b>1.a. Kualitas dan Kuantitas Game</b>
        ul
         li
         li <img src='images/gbr2.jpg' height=300>
         li App Store dan Google Play
         li Pemenang: <b>iOS</b>

      section
        h3 <b>1.b. RAW POWER</b>
        ul
         li
         li <img src='images/gbr3.png' height=300>
         li Benchmark
         li Pemenang : <b>IOS Gadget</b>

      section
        h3 <b>C.Kompabilitas</b>
        ul
         li
         li <img src='images/gbr4.jpg' height=200  0 width=500>
         li <b>Android</b>
         li Ratusan jenis dari berbagai merek
         li <b>iOS</b>
         li Apple hanya mencapai 5-6 saja
         li <font color='red'><b><s>Development</s><b></font>

     script(src='build/build.js')
