doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title iOS vs Android

    link(rel='stylesheet', type='text/css', href='images/style.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    script(language='JavaScript')

body
    |<style type='text/css'>
    include styles/style.css
    |</style>
    article
     section
        h2 V-Collaboration
        br
        ul
         li Teuku Martunisyah
         li Muhammad Al-Pandi
         li Rian Syahputra
         li Hida Triliani
         li Zulfachri Harahap

     section
        h2 iOS vs Android
        <img src='images/01.jpg' widht=200 heiht=200>

     section
        <img src='images/iosR.jpg'>
     section
        h2 <b> Kelebihan dan Kekururangan iOS & Android </b>
        ul
         li 1. Layar yang lebih besar
         li 2. Dukungan terhadap kartu SD
         li 3. Bisa ganti baterai
         li 4. Kustomisasi layar dengan widget, aplikasi, dan wallpaper animasi
         li 5. Aplikasi peta digital yang lebih baik
     script(src='build/build.js')
