doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title iOS vs Android

    link(rel='stylesheet', type='text/css', href='images/style.css')
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    script(language='JavaScript')

body
    |<style type='text/css'>
    include styles/style.css
    |</style>
    article
     section
        h2 V-Collaboration
        br
        ul
         li
         li Teuku Martunisyah
         li Muhammad Al-Pandi
         li Rian Syahputra
         li Hida Triliani
         li Zulfachri Harahap

     section
        h2 iOS vs Android
        <img src='images/gbr1.jpg' height=300>

     section
        ul
         li <h3> Pendiri Apple / iOS
         li <img src='images/pApple.jpg' height=300>
         li Tahun 1976 Steve Jobs & Steve Wozniak
     
     section
        ul
         li <h3> Pendiri Android
         li <img src='images/pAndro.jpg' height=300>
         li Palo Alto, Andy Rubin, Rich Miner, Nick Sears, dan Chris White pada bulan Oktober 2003

     section
        h3 <b> Kelebihan dan Kekururangan iOS & Android </b>
        ul.lic
         li
         li 1. Game
         li 2. Keamanan

      section
        h2 1. Game
        ul.lic
         li
         li a. Kualitas dan Kuantitas Game
         li b. Raw Power
         li c. Kompabilitas

      section
        h3 <b>1a. Kualitas dan Kuantitas Game</b>
        ul
         li
         li <img src='images/gbr2.jpg' height=300>
         li App Store dan Google Play
         li Pemenang: <b>iOS</b>

      section
        h3 <b>1b. RAW POWER</b>
        ul
         li
         li <img src='images/gbr3.png' height=300>
         li GPU (Graphich Processing Unit)
         li Pemenang : <b>iOS</b>

      section
        h3 <b>1c. Kompabilitas</b>
        ul
         li
         li <img src='images/1c.jpg' height=160 width=350>
         li <b>Android</b>
         li Ratusan jenis dari berbagai merek
         li <b>iOS</b>
         li Apple hanya mencapai 5-6 saja
         li <font color='red'><b><s>Development</s></b></font>
         li Pemenang : <b>iOS</b>

       section
         h2 <b>2. Keamanan</b>

       section
        ul
         li <img src='images/gbrKeamanan.jpg' height=300>
         li Keamanan Aplikasi 
         li Pemenang : <b>iOS Gadged</b>

       section
         <img src='images/Apple-iOS-7-1.jpg' height=350 width=500>
       section
         <img src='images/andro.jpg' height=350 width=500>

       section
         h2 Terima kasih..

     script(src='build/build.js')
